/*-------------mina inställningar--------------------------*/
.job-card {
  width: 20vw;
  height: auto;
  background-color: rgb(53, 68, 72);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid white;
  margin-bottom: 10px;
}
.first-text {
  text-decoration: underline;
  font-weight: 700;
  color: rgb(246, 255, 117);
  margin-right: 5px;
}
.input-field {
  margin-bottom: 20px;
  width: 15vw;
  border-radius: 5px;
  height: 25px;
}
.input-div {
text-align: center;
  position: relative;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.search-image {
  position: absolute;
  /*top: 0; 
  right: 0; */
  transform: translateX(-100%); 
  width: 35px; 
  margin-top: 2px;
  /*height: 25px;*/
}

.job-item {
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(238, 238, 238);
  border-radius: 8px;
  border: 1px solid gray;
  width: 80%;
  margin-inline: auto;
}
.description {
  height: 150px;
  overflow: hidden;
 
}
ul {
  list-style: none;
}

.centered {
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 30%;
  padding: 30px;
  border-radius: 8px;
}
.form.dark {
  background-color: rgb(34, 34, 44);
  border: 2px solid rgb(255, 255, 255);
}
.form.light {
  background-color: rgb(238, 238, 238);
  border: 1px solid gray;
}
.input-form {
  margin-left: 20px;
  margin-bottom: 15px;
}

.more-info {
color: orange;
text-decoration: none;
  margin-left: 10px;
 
}

.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
}


/*---------------theme-----------------------*/
.app.dark {
  background-color: #222;
  height: 100vh;
  color: white;
}

.job-container.dark {
  background-color: #222;
  height: auto;
  color: rgb(255, 255, 255);
  margin: 0;
}
.job-item.dark {
  background-color: rgb(34, 34, 44);
}
.app.light {
  background-color: #ffffff;
  height: 100vh;
  color: #222;
}

.input-field.dark {
  background-color: #434343;
}
/*.logoimg.dark {
  background-image: url("images/logoDark.png");
}
.logoimg.light {
  background-image: url("images/logo.png");
}
.logoimg {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
}*/

.menu {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid gray;
  margin-bottom: 20px;
}
.menu.light {
  background-color: rgb(238, 238, 238);
}
.menu.dark {
  background-color:rgb(34, 34, 44);
}